/* Set the font and background*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #f5f5f5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAAClJREFUGFdjZGVlTfv9+/csBiTAiMyBseGCr4WEGkTfvWsASeBXiWwMAFXSCAYXWQS3AAAAAElFTkSuQmCC') repeat;
}
/* Border around the whole page*/
.wrapper {
    border: 5px solid #ff6600;
    border-radius: 15px;
    margin: 0px auto;
}
/* Main heading style*/
h1 {
    text-align: center;
    background-color: #ff6600;
    color: #ffffff;
    padding: 20px;
    margin-top: 0;
}
/* Sub heading style*/
h2 {
    text-align: center;
    color: #333;
    margin: 2px;
}

/* Style for h2 + nav*/
.header-container {
    background-color: #ffffff;
    color: #333;
    border: 5px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    overflow: hidden;
    max-width: 800px;
    transition: box-shadow 0.33s ease-in-out;
}
.header-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* styles for third headings*/
h3 {
    background-color: #333;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    padding: 2px;
    margin: 2px;
    margin-bottom: 20px;
}
/* style for the footer*/
footer {
    text-align: center;
    background-color: #ff6600;
    color: #ffffff;
    padding: 20px;
}
/* styling all the specific sections*/
section {
    background-color: #ffffff;
    color: #333;
    border: 5px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
    margin: 20px auto;
    max-width: 800px;
    overflow: hidden;
    transition: box-shadow 0.33s ease-in-out;
}
/* aligning figure captions*/
section figcaption {
    text-align: center;
}
/* styling the images*/
section img {
    display: block;
    margin: 0 auto 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
/* making images hover*/
section img:hover {
    transform: scale(0.9);
    border-color: #ff6600;
}
/* Adjusting table to look more uniform*/
section table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

section table, section th, section td {
    border: 4px solid #6e6e6e;
    padding: 10px;
}
/* very slight hover effect for sections*/
section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Last sub heading style*/
section#Contact h2 {
    background-color: #333;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    padding: 2px;
    margin: 2px;
    margin-bottom: 20px;
}
/* styling the navigation bar*/
nav {
    background-color: #333;
    border: 5px solid #333;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

/* animating navigation*/
nav a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 12px;
    border-radius: 50px;
    transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
}

nav a:hover {
    background-color: #ff6600;
    color: #fff;
}
/* Adjustments for smaller screens*/
@media (max-width: 600px) {
    h2, h3 {
        padding: 10px;
        margin: 5px;
        margin-bottom: 10px;
    }

    nav li {
        display: inline-block;
        margin-right: 10px;
    }
}